      /*RESPONSIVE */  

      @media(max-width:992px){
         
        .section_heading{
          font-size: 70px;
          line-height: normal;
        }
        #section2 h2{
            margin-top: unset;
        }
        .content{
            flex-wrap: wrap;
        }
         .item{
            max-width: 50%;
        }
        #section5 .first_div{
         display: none;
        }
        #section5 .paragraphtext{
          max-width: unset;
        }
      }
      @media(max-width:870px){
        #section2 .section_heading{
          display: flex;
         } 
         #section2 .col:first-child{
          overflow: visible;
         }
         #section2 .col:nth-child(2){
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding-bottom: 20px;
         }
      }
/* ////////////////////////////////////////////////       */
      @media(max-width:768px){
        
        #home .col:nth-child(2){
          min-width: 250px;
        }
        #section2 .paragraphtext{
            max-width: unset;
        }
        #section2 .special_heading{
            font-size: large;
        }
        .item{
          max-width: 100%;
          min-width: 250px;
        }
        .item:nth-child(2){
          padding-top: 40px;
        }
        #contact h2{
          display: flex;
        }
        #contact .col:first-child{
          overflow: visible;
        }
    }
    @media(max-width:600px){
       
     #section5 .sec_div .col:nth-child(2){
          padding-left: 20px;
        }
        
    }
/* ////////////////////////////////////////////////       */ 
      @media(max-width:576px){
     
       .section_heading{
        font-size: 60px; 
      }
      #home .col:first-child{
        min-width: 300px ;
      }
      #section4 .row:nth-child(2) .col:nth-child(1){
       display: flex;
       flex-direction: column;
       justify-content: center;
      } 
      #contact .col:nth-child(2){
        display: none;
      }

      }
      @media(max-width:539px){
        #section4 .special-work .col:nth-child(2){
          padding-left: 22%;
      }
     #contact h2{
          display: block;
        }
      }
/* ////////////////////////////////////////////////       */      
      @media(max-width:390px){
      .section_heading{
        font-size: 30px;
       }
       #home button{
        font-size: small;
       }
      #home .col:first-child{
        min-width: 250px;
      }
      
    }
/* ////////////////////////////////////////////////       */     
      @media(max-width:280px){
       .col{
        padding: 0 ;
       }
       #section5 .sec_div .col:nth-child(2){
        padding-left: 0;
      }
      #section5 .container-fluid,  #contact .container-fluid{
        padding-left:15px ;
        padding-right:15px ;
      }
      #contact{
        margin-bottom: unset;
      }
      }
/* ////////////////////////////////////////////////       */ 
    @media(min-width:1000px){
      .heading-class{
        padding-top: 10%;
        }
      #home .col:nth-child(2){
       margin: unset;
      }
      .row .col{
        max-height: 100vh;
      }
      #section4 .row:nth-child(2) .col{
        max-height: 110vh;
      }
    }